<div class="notesLisDiv" style="text-align: center;">
  <h1 style="margin: 0 auto;">Your notes list: </h1>
</div>
<p><%= link_to "View available categories", categories_path %></p>
<hr />
<ol>
<% @notes.each do |note| %>
  <% if note.user_id === current_user.id %>
    <li><%= link_to note[:title], note %><small> (Updated on: <%= note[:updated_at].strftime("%b %d. %Y") %> - Category: <%= link_to note.category.name, category_path(note.category_id) %>)</small></li>
  <% end %>
<% end %>
</ol>
